input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px rgba(124, 124, 124, 0.2);
}
.form-control:focus {
    border-color: #dadada;
    box-shadow: none;
}
.form-control:valid {
    border-color: #dadada;
    box-shadow: none;
    background-color: white!important;
}
.form-error {
    color: red;
    font-size: 0.8rem;
}
.dotted {
    border: 1px grey !important;
    border-style: dotted !important;
}
.dropzone {
    border: 2px dotted grey;
    border-radius: 5px;
}



@media screen and (max-width: 400px) {
    .login-form {
        width: 100%;
        min-width: 300px;
    }
}